<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Главная {% endblock %} - Рецепты</title>
</head>
<body>
<header>
    <a href="{% url 'index' %}">Главная</a>
    <a href="{% url 'list_category' %}">Список категорий рецептов</a>
    <a href="{% url 'list_recipe' %}">Список рецептов</a>
    <a href="{% url 'add_category' %}">Добавить категорию</a>
    <a href="{% url 'add_recipe' %}">Добавить рецепт</a>
    <a href="{% url 'add_recipe_m' %}">Добавить рецепт метод</a>
    <a href="{% url 'update_recipe' %}">Редактировать рецепт</a>

    {% if user.is_authenticated %}
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button> Выход</button>
    </form>
    {% else %}
    <a href="{% url 'register' %}">Регистрация</a>
    <a href="{% url 'login' %}">Вход</a>
    {% endif %}
</header>
<div>
    {% block content %}
    <p>Site</p>
    {% endblock %}
</div>
</body>
</html>