<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Главная {% endblock %} - Рецепты</title>
</head>
<body>
<header>
    <a href="{% url 'index' %}">Главная</a>
    <a href="{% url 'register' %}">Регистрация</a>
    <a href="{% url 'login' %}">Вход</a>
    <a href="{% url 'login' %}">Выход</a>
</header>
<div>
    {% block content %}
    <p>Site</p>
    {% endblock %}
</div>


</body>
</html>